# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Logs
*.log
logs/
debug.log

# Environment files
.env
.env.local
.env.*.local

# Vercel
.vercel

# Miscellaneous
.DS_Store
*.swp
*.lock
.idea/
.vscode/
